* {
    font-family: Roboto, sans-serif;
    /* background-color: #1F2937; */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-right: 130px;
    padding: 0;
    display: flex;
    gap: 20px;

}

a {
    text-decoration: none;
    color: white;
}

button {
    border-radius: 5px;
    border: none;
    width: 100px;
    font-weight: bold;
}

.q1-img {
    background: rgb(95, 95, 95);
    padding: 100px;
    color: white;
    display: flex;
    width: 300px;
    height: 10px;
    text-align: center;
    align-items: center;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 100px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 130px;
}

.quarter1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 100px;
    /* max-width: 500px; */
}

.quarter1-title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    max-width: 400px;;
}

.quarter1-subtext, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.q1-signup {
    background-color: #3882F6;
    color: white;
    padding: 10px;
    margin-right: 25px;
    margin-top: 10px;
}

.quarter1-subtext {
    max-width: 450px;
}

.quarter2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.quarter2-title {
    display: flex;
    padding: 50px;
    margin-bottom: -35px;
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
}

.card-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    gap: 10px;
}

.card-img {
    padding: 10px;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(77, 181, 245);
}

.quarter3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    padding: 150px;
    gap: 10px;
}

.quote {
    display: flex;
    max-width: 1000px;
}

.quote-speaker {
    margin-left: auto;
    margin-right: 100px;
    font-weight: 800;
}

.quarter4 {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    color: white;
    margin: 100px;
    padding: 55px;
    border-radius: 5px;
}

.banner {
    display: flex;
    flex-direction: column;
}

.banner-title {
    display: flex;
    font-weight: bold;
    font-size: 18px;
}

.banner-subtitle {
    display: flex;
}

.q4-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border: white;
    border-style: solid;
    padding: 3px;
    color: white;
    border-width: 2px;
    width: 150px;
}

.footer {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 25px;
}