* {
    font-family: Roboto, sans-serif;
    /* background-color: #1F2937; */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-right: 160px;
    padding: 0;
    display: flex;
    gap: 20px;

}

a {
    text-decoration: none;
    color: white;
}

button {
    border-radius: 5px;
    border: none;
    background-color: #3882F6;
    color: white;
    padding: 10px;
    margin-right: 25px;
    margin-top: 10px;
    width: 100px;
    font-weight: bold;
}

.q1-img {
    background: rgb(95, 95, 95);
    padding: 100px;
    color: white;
    display: flex;
    width: 300px;
    height: 10px;
    text-align: center;
    align-items: center;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 100px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 170px;
}

.quarter1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 100px;
    /* max-width: 500px; */
}

.quarter1-title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    max-width: 400px;;
}

.quarter1-subtext, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.q1-signup {
    
}

.quarter1-subtext {
    max-width: 450px;
    
}

.quarter2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.quarter2-title {
    display: flex;
    padding: 50px;
    margin-bottom: -35px;
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
}

.card-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    gap: 10px;
}

.card-img {
    padding: 10px;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(77, 181, 245);
}





.footer {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 25px;
}